<div class="container">
    <div class="card m-3 d-flex" style="padding: 20px; min-width: fit-content;">
        <div class="row">
            <div class="col">
                <h5 class="text-center">Create new appointment</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="form-control" style="min-width: 10px;" [(ngModel)]="newAppointmentTitle" placeholder="Description">
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="col">
                <input class="form-control" [(ngModel)]="newAppointmentDate" type="date" placeholder="Appointment date">
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="col">
                <button class="btn btn-primary" style="min-width: 100%;" (click)="addAppointment()">Add</button>
            </div>
        </div>
    </div>
    <div class="px-3" id="appointments-list1">
        <h5>Appointments</h5>
        <ul class="list-group mt-3 d-flexalign-items-center">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let appointment of appointments; index as i">
                {{appointment.title}} {{appointment.date | date: 'dd.MM.yyyy'}}
                <button class="btn btn-danger" (click)="deleteAppointment(i)">x</button>
            </li>
        </ul>
    </div>
   
</div>

